.pro-menu-item {
  background-color: transparent !important;
  color: inherit !important;
}

.pro-menu-item.active {
  background-color: transparent !important;
  color: inherit !important;
}

.pro-menu-item:hover {
  background-color: transparent !important;
  color: #868dfb !important;
}
